@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
.cart-items{
    margin: 30px ;
}
.cart-items-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border-bottom: 2px solid black;
  }
  .cart-items-empty{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color:grey;
   height: 60vh;

  }
  .cart-items-image{
  width:300px;
  height:30vh ;
  margin-right: 100px;
  margin: 2%;
  }
  .cart-items-list{
      display: flex;
      align-items: center;
      margin: 1%;
      border: 2px solid grey;
      border-radius: 15px;
      box-shadow:5px 5px 10px  #888888;
      padding: 7px;
      
  }
  .cart-item-total-price-heading{
   display: flex;
   justify-content: center;
   
}
.cart-item-total-price{
    margin-left: 2%;
}
.clear-cart{
    display: flex;
    justify-content: flex-end;
}
.clear-cart-button{
   
    background-color: black;
    color: white;
    padding: 9px;
    font-size: 12px;
    
}
.card-items-header{
   box-shadow: 5px 5px 5px grey;
   padding: 7px;
   margin-bottom:1% ;
}
.cart-items-name{
font-size: 18px;
font-weight: 800;
font-family: 'Roboto Condensed', sans-serif;
}
.cart-itemprice{
    font-size: 18px;
    font-weight: 800;
    margin: 2%;
   
}
.cart-data{
    display: block;
    margin-left: 5%;
    line-height: 45px;
}
.cart-item-total-price{
    font-weight: 800;
   
}
.cart-item-total-price-heading{
    font-weight: 800;   
    border-top:1px solid grey;
    padding: 9px;
    display: flex;
    justify-content: flex-end;
}
.cart-items-function{
    display: flex;
   
}
.cart-item-add{
    padding: 5px;
    background-color: tomato;
    color: white;
    margin-right: 2%;
    cursor: pointer;
    border-radius: 15px;
    width: 20%;
}
.cart-item-add:hover{
    background-color: rgb(199, 101, 36);
}
.cart-item-remove{
    width: 20%;
    padding: 5px;
    background-color: rgb(218, 218, 65);
    color: rgb(37, 27, 27);
    cursor: pointer;
    
    border-radius: 15px;

}
.cart-item-remove:hover{
    background-color: rgb(157, 182, 19);
}